* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1em;
  /*   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Bradley Hand, cursive; */
    background: #fcf6f6ee;
  }